<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <main>
        <section class="center main-content">
          <form id="registracion" action="/users/register" method="post" enctype="multipart/form-data">
            <h1>Registrate</h1>
            <input required type="text" name="apellido" placeholder="apellido"> <br>
            <input required type="text" name="nombre" placeholder="nombre"> <br>
            <input required type="email" name="email" placeholder="mail"> <br>
            <input required type="text" name="username" placeholder="username" > <br>
            <input required type="password" name="password" placeholder="contraseña" > <br>
            <input required type="date" name="fecha" placeholder="fecha de nacimiento" > <br>
            <input required type="number" maxlength="9" name="dni" placeholder="dni" > <br>
            <input id="foto" required type="file" name="foto" placeholder="foto" > <br>
            <button id="submit"  type="submit">Registrate</button>
          </form>
        </section>
      </main>

      <%- include('./partials/footer') %>

  </body>

</html>