<!--MODIFICAR EL FORM PORQUE AGREGUE METHOD GET Y NO BUSCA-->

<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <a href="/">
                <h2 class="logo"><img src="/images/logo.png"></h2>
            </a>
        </div>
        <div class="navbar-center">
            <form method="get" action="/resultadoDeBusqueda" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name="texto" class="search-input" placeholder="Buscar...">
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                <% if (locals.usuario == undefined){ %>
                    <li><a href="/users/register">Registro</a></li>
                    <li><a href="/users/Login">Login</a></li>
                <% } else{ %>

                       <li> Bienvenido <%= locals.usuario.apellido%>  <%= locals.usuario.nombre%> @<%= locals.usuario.usuario%></li>
                        <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                        <li><a href="/posts/agregarPost"><i class="fa-regular fa-square-plus"></i></a></li>
                        <li><a href="/users/miPerfil/<%=locals.usuario.id%> "><i class="fa-regular fa-user"></i></a></li>
                        <li><a href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                <% } %> 
            </ul>
        </div>
    </nav>
</header>